#include "resource.h"

#ifndef DEBUG
#define VER_DEBUG 0
#else
#define VER_DEBUG VS_FF_DEBUG
#endif

IDI_TRAYICON ICON "ListeningNowTracker.ico"

1 VERSIONINFO
	FILEVERSION 	VER_FILEVERSION
	PRODUCTVERSION	VER_PRODUCTVERSION
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
	FILEFLAGS		(VER_DEBUG)
	FILEOS		VOS__WINDOWS32
	FILETYPE		VFT_APP
	FILESUBTYPE		VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
     BLOCK "040904B0"
     BEGIN
	 VALUE "FileDescription",  VER_FILEDESCRIPTION_STR
	 VALUE "FileVersion",	   VER_FILEVERSION_STR
	 VALUE "ProductName",	   VER_PRODUCTNAME_STR
       VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
     END
  END
END
